/* Header style Start */
header {
    max-width: 1440px;
    margin: 0 auto;
}

/* Nav style */
.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

}

.Menu {
    list-style: none;
    display: flex;
    gap: 60px;
    font-size: 1.2rem;

}

nav ul a {
    text-decoration: none;

}

.Home {
    font-weight: bold;

}

/* Banner Style */
.Banner {
    display: flex;
    margin-top: 160px;
    align-items: center;
}

.Banner-Text {
    align-items: center;
    padding-top: 162px;
}

.Banner-Title {
    font-size: 3.2rem;
    font-weight: 700;

}

.Banner-Title-1 {
    margin: 0;

}

.Banner-Title-2 {
    margin: 0;

}

.Banner-Description {
    font-size: 1.8rem;
}


.Banner-Image {
    padding-top: 105px;
}

/* Our Plants Section Style */


.Our-Plant-Title {
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
}

.Our-Plants-Subtitle {
    font-size: 1.5rem;
    max-width: 888px;
    text-align: center;
    margin: -45px auto 50px;
}

.Flower-Card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 120px;
    
   
    
}

.Product-Image{
    width: 100%;
}
.Product-Name{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    
    margin: 0;
    
}
.Product-Price{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;

    margin-top: 10px;
   

}
.Primary-Button{
   width: 265px;
   height: 50px;
   font-size: 1.1rem;
   font-weight: 600;
   color: white;
   background-color: #E95A08;
   border: none;
}

/* Flower Lover Section */
.Flower-Lover-Section{
    display: flex;
    margin: 250px 0;
}

.Flower-Lover-Text{
    margin-left: 100px;
}
.Flower-Lover-Title{
    font-size: 4rem;
    font-weight: bold;
    margin-left: 15px;
}
.Flower-Lover-Description{
    font-size: 1.5rem;
    margin-top: -30px;

    
}
.Badge{
    width: 320px;
    height: 320px;
    position: absolute;
    left: 600px;
    top: 2250px;
}

/* Latest Deal Secttion */
.Latest-Deal{
    max-width: 1440px;
    margin: 0 auto;
}
.Latest-Deal-Text{
    max-width: 888px;
    margin: 0 auto;
    text-align: center;
}
.Latest-Deal-Title{
    font-size: 3.5rem;
    
    
}
.Latest-Deal-Subtitle{
    font-size: 1.375rem;
    margin: -35px 0 80px;
    
}
.Latest-Deal-Offers{
    max-width: 1440px;
    margin: 0 auto 120px;
    display: grid;
    grid-template-areas: 
    "Bloom  Zabo"
    " Ana   Zabo";
    gap: 20px ;
    row-gap: 20;
    
    
}

.Bloom-Plant{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5)), url(../assets/deal-bloom.png);
    background-size: cover;
    width: 466px;
    max-height: 220px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
   text-align: center;
     grid-area: Bloom;
     border-radius: 20px;
     padding: 50px 0 0;
     
   
    
}
.Ana-Plant{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5)), url(../assets/deal-ana.png);
    background-size: cover;
    width: 467px;
    max-height: 220px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
     grid-area: Ana;
     border-radius: 20px;
     padding: 50px 0 0;
   
   
}
.Zabo-Plan{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../assets/deal-zabo.png);
    background-size: cover;
     width: 990px;
    height: 380px ;
    color: white;
    font-size: 3rem;
    font-weight: bold;
   text-align: center;
    grid-area: Zabo;
      border-radius: 20px;
      padding: 150px 0 0;
      margin: 0;
      
      
      
    
    
}
.Shop-now{
    display: block;
    margin-top:-20px;
    font-weight: 500;
    font-size: 1.3rem;
}
.Shop-Now{
    display: block;
    margin-top: -60px;
    
    font-weight: 500;
    font-size: 2rem;
    
}

/* Call To Action Section */
.call-to-Action{
    margin: 0 500px 0 00px;
    height: 533px;
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;

}
.Call-to-Action-Title{
    font-size: 3.125rem;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 220px 0 0;
}
.input{
    width: 650px;
    height: 42px;
    margin:0 auto;
    border: none;
}
.Newslatter-Form{
    max-width: 850px;
    margin: -23px auto 0;
    display: flex;
    align-items: center;
}
.Call-to-Action-Button{
    width: 180px;
    height: 48px;
    margin-left: -15px;
    border: none;
    background-color: #E95A08;
    color: white;
    font-size: 1.01rem;
    
}
::placeholder{
    padding:15px;
}





/*(small Device Start) */

@media screen and (max-width: 576px) {

    /* Header Style */
    body {
        margin: 0;
    }

    header {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    main {
        margin-top: 0;
    }

    .Home,
    .Shop,
    .About-us {
        display: none;
    }

    .Nav {
        margin: 13px 16px;
    }

    .Menu {
        gap: 0;
    }

    .Banner {
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
        max-width: 100%;

    }

    img {
        width: 100%;
    }

    .Banner-Text {
        max-width: 100%;
        margin: 28px 16px 0;
        padding: 0;

    }

    .Banner-Title {
        font-size: 1.5rem;

    }

    .Banner-Description {
        font-size: 1.2rem;
        margin: 0;
    }

    /* Our Plants Section Style */
    .Our-Plant-Title {
        font-size: 1.5rem;
        margin-top: -95px;

    }

    .Our-Plants-Subtitle {
        margin: -10px 16px 0;


    }
    .Flower-Card{
    display: grid;
    grid-template-columns: repeat(2,170px);
    gap: 30px 5px;
    max-width: 350px;
    margin: 0 auto;
    
    
}


.Product-Image{
    width: 100%;
}
.Product-Name{
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    padding: 0;
    margin: 0;
    
}
.Product-Price{
    font-size: 1.1rem;
    font-weight: bold;
    
text-align: center;
    margin-top: 10px;
   

}
.Primary-Button{
   width: 10.5rem;
   height: 50px;
   font-size: 1.1rem;
   font-weight: 600;
   color: white;
   background-color: #E95A08;
   border: none;
   margin: 0 auto;
}
/* Flower Lover Section */
.Flower-Lover-Section{
    display: block;
}
.Flower-Lover-Image{
    max-width: 95%;
    margin: -200px auto 0;
    
}
.Flower-Lover-Title{
    font-size: 1.5rem;
    font-weight:bold ;
    margin-left: 15px;
}
.Flower-Lover-Description{
    font-size: 1.1rem;
    margin: 0;
    
}
.Flower-Lover-Text{
    
    max-width: 360px;
    margin: 0 auto;
}
.Badge{
    display: none;
}
/* Latest deal section */
.Latest-Deal-Offers{
    display: block;
    max-width:360px ;
    margin: 0 auto;
}
.Latest-Deal-Title{
    font-size: 1.8rem;
    margin-top:-120px;
}
.Latest-Deal-Subtitle{
    font-size: 0.875rem;
    margin: 10px 0 50px;
}
.Bloom-Plant{
    max-width: 360px;
    height: 192px;
    margin: 0 auto 10px;
    
}
.Ana-Plant{
     max-width: 360px;
    height: 192px;
    margin: 0 auto 10px;
}
.Zabo-Plan{
     max-width: 360px;
    height: 180px;
    margin: 0 auto 40px;
    font-size: 1.5rem;
    padding: 50px 0 0;
}
.Shop-Now{
       margin-top:-20px;
    font-size: 1.3rem;
}

/* Call To Action Section */
 .call-to-Action{
    margin: 0 500px 0 0px;
    height: 220px;

} 
.Call-to-Action-Title{
    font-size: 1.5rem;
    padding: 50px 0 0;
}
.input{
    width: 218px;
    height: 42px;
    border: none;
   
}
.Newslatter-Form{
    max-width: 300px;
    margin: 20px auto 0;
    
}
.Call-to-Action-Button{
    width: 103px;
    height: 44px;
    margin-left: -30px;
    
    
}




    /* Small device End */


}

/* Shared Style */
body {
    background-color: lab(95.01% -0.23 -3.36);
    margin: 0;
}

main {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 150px;
}


/* color */
.dark1 {
    color: #252432;
}

.dark2 {
    color: rgba(0, 0, 0, 0.5);
}

.dark3 {
    color: #8987A1;
}

.orange {
    color: #E95A08;
}

/* Fonts */


.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}